@import "./variables";
@import "./global";
@import "./mixin";

#images{
    
    .container{
        padding: 2rem 2rem;
        
        &__div-flex-reverse{
            @include flexboxReverse();    
        }

        &__div-column{
            text-align: center;
            align-items: center;    
        }

        &__row-image{
            width: 13.50rem; 
        }

        &__heading-4{
            text-align: center;
        }

        &__heading-2{
            font-family: $titleFont;
            font-size: $heading3;
            text-align: center;    
        }

        &__block-image{
            width: 100%;
            padding: .5rem .5rem;    
        }
    }
}